#about-three{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-design-container{
    padding: 0px 60px;
    margin-bottom: 880px;
}

.about-section-container{
    margin: 160px 0px 200px 0px;
    width: 70%
}

.about-interests{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-interest{
    width: 100%;
    height: 800px;
    border-radius: 40px;
    display: flex;
    align-items: end;
    padding: 60px;
}

.offset-down{
    margin-top: 280px;
}

@media screen and (max-width: 1280px){
    .about-section-container{
        width: 100%;
    }
    .about-design-container{
        margin-bottom: 360px;
    }
    .about-interests{
        gap: 36px;
    }
    .about-interest{
        height: 600px;
    }
}

@media screen and (max-width: 1024px){
    .about-interest{
        height: 400px;
    }
    .about-design-container{
        margin-bottom: 280px;
    }
    .offset-down{
        margin-top: 200px;
    }
}

@media screen and (max-width: 768px){
    .about-interests{
        gap: 24px;
    }
    .about-interest{
        height: 360px;
        padding: 36px;
    }
    .offset-down{
        margin-top: 100px;
    }
}