.contact-container{
    margin: 0px 0px 60px 0px;
}

.contact-top{
    margin: 160px 0px 200px 0px;
    width: 60%;
}

.contact-infos{
    display: flex;
    gap: 80px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-info > .contact-title-container > .contact-title-move > .body-bold,
.contact-info > .contact-title-container > .contact-title-move > .body-light,
.contact-info > .subtitle-light
{
    transition: all .5s ease;
}

.contact-info:hover > .contact-title-container > .contact-title-move > .body-bold,
.contact-info:hover > .contact-title-container > .contact-title-move > .body-light,
.contact-info:hover > .subtitle-light
{
    color: rgba(246, 250, 255, 1);
}

.contact-title-container{
    max-height: 2rem;
    overflow: hidden;
}

.contact-title-move{
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all .5s ease;
}

.contact-info:hover > .contact-title-container > .contact-title-move{
    transform: translateY(-2rem);
}

// Responsive
@media screen and (max-width: 1280px){
    .contact-top{
        width: 80%;
    }
    .contact-title-container{
        max-height: 1.5rem;
    }
    .contact-info:hover > .contact-title-container > .contact-title-move{
        transform: translateY(-1.6rem);
    }
}

@media screen and (max-width: 1024px){
    .contact-infos{
        gap: 40px;
    }
    .contact-title-container{
        max-height: 1rem;
    }
    .contact-info:hover > .contact-title-container > .contact-title-move{
        transform: translateY(-1rem);
    }
}

@media screen and (max-width: 768px){
    .contact-top{
        width: 100%;
    }
}