#data-three{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.data-top{
    margin: 160px 0px 200px 0px;
    width: 70%
}

.data-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.info-card{
    position: relative;
    width: 100%;
    overflow: auto;
    border-radius: 40px;
    padding: 100px 200px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: end;
    overflow: hidden;
}

.capability-card{
    position: relative;
    width: 100%;
    overflow: auto;
    border-radius: 40px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: end;
}

.capability-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.capability-col{
    display: flex;
    gap: 36px;
}

// Responsive
@media screen and (max-width: 1280px){
    .data-top{
        width: 90%;
    }
    .info-card{
        padding: 60px 120px 60px 60px;
    }
    .capability-card{
        padding: 60px;
    }
}

@media screen and (max-width: 1024px){
    .info-card{
        padding: 48px;
        gap: 16px;
    }
    .capability-card{
        padding: 48px;
    }
    .data-container{
        gap: 24px;
    }
}

@media screen and (max-width: 768px){
    .data-top{
        width: 100%;
    }
    .info-card{
        padding: 36px;
        gap: 16px;
    }
    .capability-card{
        padding: 36px;
    }
}