.loader{
    transition: all 1s ease;
}

.loader-container {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(41, 47, 53, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.loader-progress{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0%;
    background-color: rgba(125, 247, 255, 1);
    display: grid;
    place-items: center;
    overflow: hidden;
    transition: height .2s;
}

.progress-numbers{
    display: flex;
    gap: 36px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}