// Nav Bar
.nav{
    width: 100%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9001;
}

.right-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-button{
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu-title-container{
    max-height: 1.5rem;
    overflow: hidden;
}

.menu-title-move{
    display: flex;
    flex-direction: column;
    text-align: right;
    transition: all .5s ease;
}

#menu-button:hover > .menu-title-container > .menu-title-move{
    transform: translateY(-1.5rem);
}

.nav-menu-button > .menu-title-container > .menu-title-move > .caption-bold{
    transition: all .5s ease;
}

.nav-menu-button:hover > .menu-title-container > .menu-title-move > .caption-bold{
    color: rgba(246, 250, 255, 1);
}

.nav-menu-button > svg > .icon{
    transition: all .5s ease;
}

.nav-menu-button:hover svg > .icon{
    fill: rgba(246, 250, 255, 1);
}

.nav-link{
    list-style-type: none;
    opacity: .5;
    mix-blend-mode: overlay;
    transition: all .5s ease;
}

.nav-link:hover{
    opacity: 1;
    mix-blend-mode: normal;
}

// Nav Menu
.nav-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(41, 47, 53, .8);
    backdrop-filter: blur(2vmax);
    padding: 60px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    opacity: 0;
    transition: all .5s ease;
}

.menu-list{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-title-container{
    max-height: 9rem;
    overflow: hidden;
}

.nav-title-move{
    display: flex;
    flex-direction: column;
    text-align: right;
    transition: all .5s ease;
}

.nav-router:hover > .nav-title-container > .nav-title-move{
    transform: translateY(-9rem);
}

.menu-social-list{
    position: absolute;
    right: 60px;
    bottom: 60px;
    display: flex;
    gap: 16px;
}

.social-icon > svg > .icon{
    transition: all .5s ease;
}

.social-icon:hover > svg > .icon{
    fill: rgba(246, 250, 255, 1);
}

// Footer
footer{
    width: 100%;
    padding: 120px 60px;
    border-radius: 40px 40px 0px 0px;
}

.footer-col{
    display: flex;
}

.footer-hero-container{
    max-height: 14rem;
    overflow: hidden;
}

.footer-hero-move{
    transition: all .5s ease;
}

.footer-contact:hover >.footer-hero-container > .footer-hero-move{
    transform: translateY(-14rem);
}

.footer-secondary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 36px;
}

.footer-link-container{
    max-height: 2rem;
    overflow: hidden;
    text-align: right;
}

.footer-link-move{
    transition: all .5s ease;
}

.footer-link:hover > .footer-link-container > .footer-link-move{
    transform: translateY(-2rem);
}

.copyright{
    text-align: right;
}

// Responsive
@media screen and (max-width: 1280px){
    .nav-title-container{
        max-height: 6rem;
    }
    .nav-router:hover > .nav-title-container > .nav-title-move{
        transform: translateY(-6rem);
    }
    .footer-hero-container{
        max-height: 8rem;
    }
    .footer-contact:hover >.footer-hero-container > .footer-hero-move{
        transform: translateY(-8rem);
    }
    .footer-link-container{
        max-height: 1.5rem;
    }
    .footer-link:hover > .footer-link-container > .footer-link-move{
        transform: translateY(-1.5rem);
    }
    .footer-links{
        gap: 24px;
    }
}

@media screen and (max-width: 1024px){
    .nav{
        padding: 36px;
    }
    .right-container{
        width: 50%;
    }
    .menu-title-container{
        max-height: 1rem;
    }
    #menu-button:hover > .menu-title-container > .menu-title-move{
        transform: translateY(-1rem);
    }
    .nav-title-container{
        max-height: 4rem;
    }
    .nav-router:hover > .nav-title-container > .nav-title-move{
        transform: translateY(-4rem);
    }
    footer{
        padding: 80px 36px;
    }
    .footer-hero-container{
        max-height: 6rem;
    }
    .footer-contact:hover >.footer-hero-container > .footer-hero-move{
        transform: translateY(-6rem);
    }
    .footer-link-container{
        max-height: 1rem;
    }
    .footer-link:hover > .footer-link-container > .footer-link-move{
        transform: translateY(-1rem);
    }
    .footer-links{
        gap: 16px;
        text-align: right;
    }
}

@media screen and (max-width: 768px){
    #local-time{
        display: none;
    }
    .footer-hero-container{
        max-height: 4rem;
    }
    .footer-contact:hover >.footer-hero-container > .footer-hero-move{
        transform: translateY(-4rem);
    }
    .footer-links{
        gap: 16px;
        text-align: right;
    }
}