.project-container{
    overflow-x: hidden;
}

.project-top{
    padding: 0px 60px;
    margin: 160px 0px 100px 0px;
}

.project-descriptions{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 60px;
    padding: 32px 0px;
}

.project-description{
    opacity: 0;
}

.project-detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
}

.hero-video{
    opacity: 0;
}

.video-wrapper{
    width: 100%;
    height: 1000px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: all 1s ease;
}

.next-video-wrapper{
    width: 100%;
    height: 800px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: all 1s ease;
}

.project-video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-description{
    padding: 4px 0px 0px 0px;
}

.image{
    width: 100%;
    border-radius: 40px;
}

.image-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 40px;
}

.contained-image{
    width:100%;
    height:100%;
    object-fit:cover;
}

.margin-separator{
    margin-bottom: 60px;
}

.next-project-container{
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-bottom: 280px;
    margin-top: 520px;
}

.next-project-links{
    position: relative;
    width: 1400px;
    overflow: auto;
    transition: all 1s ease;
    overflow: visible;
    transform: rotate(-5deg);
}

.project-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
    opacity: .5;
    transform-origin: center;
    transition: all 1s ease;
}

.next-project-details{
    width: 600px;
    margin-left: 100px;
    margin-top: -1080px;
    transform: rotate(5deg);
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 1;
    transition: all 1s ease;
    pointer-events: none;
}

.next-project-links:hover > .next-project-links > .next-video-wrapper{
    transform: scale(1.1);
}

// Responsive
@media screen and (max-width: 1280px){
    .video-wrapper{
        height: 640px;
        margin-bottom: 36px;
    }
    .next-video-wrapper{
        height: 600px;
    }
    .next-project-details{
        margin-top: -840px;
    }
    .next-project-container{
        margin-bottom: 200px;
        margin-top: 400px;
    }
    .margin-separator{
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 1024px){
    .video-wrapper{
        height: 520px;
    }
    .next-video-wrapper{
        height: 400px;
    }
    .next-project-details{
        margin-top: -640px;
    }
    .next-project-container{
        margin-bottom: 0px;
        margin-top: 360px;
        padding: 100px 24px 0px 24px;
    }
    .next-project-details{
        width: 600px;
    }
}

@media screen and (max-width: 768px){
    .video-wrapper{
        height: 360px;
    }
    .next-video-wrapper{
        height: 280px;
    }
    .next-project-details{
        margin-top: -480px;
    }
    .next-project-container{
        margin-bottom: -100px;
        margin-top: 240px;
        padding: 100px 24px 0px 24px;
    }
    .next-project-details{
        width: 360px;
    }
}