@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.nav {
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.right-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-menu-button > .caption-bold {
  transition: all 0.5s ease;
}

.nav-menu-button:hover > .caption-bold {
  color: rgb(246, 250, 255);
}

.nav-menu-button > svg > .icon {
  transition: all 0.5s ease;
}

.nav-menu-button:hover svg > .icon {
  fill: rgb(246, 250, 255);
}

.nav-link {
  list-style-type: none;
  opacity: 0.5;
  mix-blend-mode: overlay;
  transition: all 0.5s ease;
}

.nav-link:hover {
  opacity: 1;
  mix-blend-mode: normal;
}

.nav-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(41, 47, 53, 0.8);
  -webkit-backdrop-filter: blur(2vmax);
          backdrop-filter: blur(2vmax);
  padding: 60px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: all 1s ease;
}

.menu-list {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-social-list {
  position: absolute;
  right: 60px;
  bottom: 60px;
  display: flex;
  gap: 16px;
}

.social-icon > svg > .icon {
  transition: all 0.5s ease;
}

.social-icon:hover > svg > .icon {
  fill: rgb(246, 250, 255);
}

.hero-section-container {
  padding: 0px 60px;
  margin: 260px 0px 200px 0px;
}

.hero-col {
  display: flex;
}

.hero-col-sm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-icon {
  mix-blend-mode: overlay;
}

.hero-col-lg {
  width: 100%;
  display: flex;
}

.hero-col-lg > .hero {
  margin-top: -60px;
}

.hero-text-overlay {
  mix-blend-mode: overlay;
}

.cases-title-container {
  padding: 0px 60px;
  margin-bottom: 100px;
}

.selected-work-container {
  width: 100%;
  margin: 0px 0px 320px 0px;
  overflow: hidden;
  transform: rotate(-5deg);
}

.scroll-track {
  display: flex;
  gap: 60px;
}

.project-images {
  display: flex;
  gap: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: scrollRight 20s infinite linear;
}

.project-links {
  position: relative;
  width: 1000px;
  aspect-ratio: 16/9;
  overflow: auto;
  transition: all 1s ease;
  overflow: visible;
}

.project-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  opacity: 0.8;
  transform-origin: center;
  transition: all 1s ease;
}

.project-images:has(.over:hover) .project-links:not(.over:hover) {
  opacity: 0.1;
  filter: blur(4px);
}

.project-links:hover > .case-details {
  opacity: 1;
}

.case-details {
  width: 600px;
  margin-left: 120px;
  margin-top: -96px;
  transform: rotate(5deg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0;
  transition: all 1s ease;
  pointer-events: none;
}

.case-titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.personal-highlight {
  width: 100%;
  margin-bottom: 280px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.highlighted-list {
  display: flex;
  flex-direction: column;
}

.highlighted-list > :nth-child(2) {
  opacity: 0.5;
}

.highlighted-list > :nth-child(3) {
  opacity: 0.3;
}

.highlighted-list > :nth-child(4) {
  opacity: 0.2;
}

.highlighted-list > :nth-child(5) {
  opacity: 0.15;
}

.highlighted-list > :nth-child(6) {
  opacity: 0.1;
}

.highlighted-list > :nth-child(7) {
  opacity: 0.05;
}

@keyframes scrollRight {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}
* {
  box-sizing: border-box;
}

body {
  background: rgb(41, 47, 53);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

.section-container {
  padding: 0px 60px;
  margin-bottom: 280px;
}

.col {
  display: flex;
}

.col-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-30 {
  width: 30%;
}

.hero {
  font-size: 14rem;
  font-weight: 700;
}

.large-title {
  font-size: 9rem;
  font-weight: 700;
}

.title-bold {
  font-size: 6rem;
  font-weight: 700;
}

.title-light {
  font-size: 6rem;
  font-weight: 400;
}

.subtitle-bold {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.subtitle-light {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.case-overview {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.body-bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-light {
  font-size: 1.5rem;
  font-weight: 400;
}

.caption-bold {
  font-size: 1rem;
  font-weight: 700;
}

.caption-light {
  font-size: 1rem;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-strong-blue {
  color: rgb(0, 240, 255);
}

.text-primary-blue {
  color: rgb(125, 247, 255);
}

.text-accent-blue {
  color: rgb(174, 250, 255);
}

.text-dark-gray {
  color: rgb(41, 47, 53);
}

.text-light-gray {
  color: rgb(124, 141, 159);
}

.text-light {
  color: rgb(246, 250, 255);
}

.strong-blue {
  background-color: rgb(0, 240, 255);
}

.primary-blue {
  background-color: rgb(125, 247, 255);
}

.accent-blue {
  background-color: rgb(174, 250, 255);
}

.dark-gray {
  background-color: rgb(41, 47, 53);
}

.light-gray {
  background-color: rgb(124, 141, 159);
}

.light {
  background-color: rgb(246, 250, 255);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=styles.css.map */