// Font Import
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: rgba(41, 47, 53, 1);
    overflow-x: hidden;
}

// Scroll Bar
/*width*/
::-webkit-scrollbar {
    width:0px;
}

/*track*/
::-webkit-scrollbar-track {
    background:rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
    background:rgb(19, 21, 22);
    border-radius:100px;
}
    
body .transition {display: block}
.w-editor .transition {display: none;}
.no-scroll-transition {overflow: hidden; position: relative;}