@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.nav {
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.right-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-title-container {
  max-height: 1.5rem;
  overflow: hidden;
}

.menu-title-move {
  display: flex;
  flex-direction: column;
  text-align: right;
  transition: all 0.5s ease;
}

#menu-button:hover > .menu-title-container > .menu-title-move {
  transform: translateY(-1.5rem);
}

.nav-menu-button > .menu-title-container > .menu-title-move > .caption-bold {
  transition: all 0.5s ease;
}

.nav-menu-button:hover > .menu-title-container > .menu-title-move > .caption-bold {
  color: rgb(246, 250, 255);
}

.nav-menu-button > svg > .icon {
  transition: all 0.5s ease;
}

.nav-menu-button:hover svg > .icon {
  fill: rgb(246, 250, 255);
}

.nav-link {
  list-style-type: none;
  opacity: 0.5;
  mix-blend-mode: overlay;
  transition: all 0.5s ease;
}

.nav-link:hover {
  opacity: 1;
  mix-blend-mode: normal;
}

.nav-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(41, 47, 53, 0.8);
  -webkit-backdrop-filter: blur(2vmax);
          backdrop-filter: blur(2vmax);
  padding: 60px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: all 0.5s ease;
}

.menu-list {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-title-container {
  max-height: 9rem;
  overflow: hidden;
}

.nav-title-move {
  display: flex;
  flex-direction: column;
  text-align: right;
  transition: all 0.5s ease;
}

.nav-router:hover > .nav-title-container > .nav-title-move {
  transform: translateY(-9rem);
}

.menu-social-list {
  position: absolute;
  right: 60px;
  bottom: 60px;
  display: flex;
  gap: 16px;
}

.social-icon > svg > .icon {
  transition: all 0.5s ease;
}

.social-icon:hover > svg > .icon {
  fill: rgb(246, 250, 255);
}

footer {
  width: 100%;
  padding: 120px 60px;
  border-radius: 40px 40px 0px 0px;
}

.footer-hero-container {
  max-height: 14rem;
  overflow: hidden;
}

.footer-hero-move {
  transition: all 0.5s ease;
}

.footer-contact:hover > .footer-hero-container > .footer-hero-move {
  transform: translateY(-14rem);
}

.footer-secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 36px;
}

.footer-link-container {
  max-height: 2rem;
  overflow: hidden;
  text-align: right;
}

.footer-link-move {
  transition: all 0.5s ease;
}

.footer-link:hover > .footer-link-container > .footer-link-move {
  transform: translateY(-2rem);
}

.copyright {
  text-align: right;
}

@media screen and (max-width: 1280px) {
  .nav-title-container {
    max-height: 6rem;
  }
  .nav-router:hover > .nav-title-container > .nav-title-move {
    transform: translateY(-6rem);
  }
}
@media screen and (max-width: 1024px) {
  .right-container {
    width: 50%;
  }
  .menu-title-container {
    max-height: 1rem;
  }
  #menu-button:hover > .menu-title-container > .menu-title-move {
    transform: translateY(-1rem);
  }
  .nav-title-container {
    max-height: 4rem;
  }
  .nav-router:hover > .nav-title-container > .nav-title-move {
    transform: translateY(-4rem);
  }
}
@media screen and (max-width: 768px) {
  #local-time {
    display: none;
  }
}
.hero-top {
  padding: 0px 60px;
  margin: 260px 0px 200px 0px;
}

.hero-col-sm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-icon {
  mix-blend-mode: overlay;
}

.hero-col-lg {
  width: 100%;
  display: flex;
}

.hero-col-lg > .hero {
  margin-top: -60px;
}

.home-goal {
  display: flex;
  justify-content: end;
}

.home-subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 60%;
}

.hero-text-overlay {
  mix-blend-mode: overlay;
}

.cases-title-container {
  padding: 0px 60px;
  margin-bottom: 100px;
}

.selected-work-container {
  width: 100%;
  margin: 0px 0px 320px 0px;
  overflow: hidden;
  transform: rotate(-5deg) scale(1.1);
}

.scroll-track {
  display: flex;
  gap: 60px;
}

.project-images {
  display: flex;
  gap: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: scrollRight 20s infinite linear;
}

.project-links {
  position: relative;
  width: 1000px;
  aspect-ratio: 16/9;
  overflow: auto;
  transition: all 1s ease;
  overflow: visible;
}

.project-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  opacity: 0.5;
  transform-origin: center;
  transition: all 1s ease;
}

.project-images:has(.over:hover) .project-links:not(.over:hover) {
  opacity: 0.5;
  filter: blur(4px);
}

.project-links:hover > .case-details {
  opacity: 1;
}

.case-details {
  width: 600px;
  margin-left: 100px;
  margin-top: -96px;
  transform: rotate(5deg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0;
  transition: all 1s ease;
  pointer-events: none;
}

.case-titles {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-highlight {
  padding: 0px 60px;
  width: 100%;
  margin-bottom: 280px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.highlighted-list {
  display: flex;
  flex-direction: column;
}

.highlighted-list > :nth-child(2) {
  opacity: 0.5;
}

.highlighted-list > :nth-child(3) {
  opacity: 0.3;
}

.highlighted-list > :nth-child(4) {
  opacity: 0.2;
}

.highlighted-list > :nth-child(5) {
  opacity: 0.15;
}

.highlighted-list > :nth-child(6) {
  opacity: 0.1;
}

.highlighted-list > :nth-child(7) {
  opacity: 0.05;
}

@media screen and (max-width: 1280px) {
  .hero-col-lg > .hero {
    margin-top: -32px;
  }
  .home-subtitle-container {
    width: 68%;
  }
  .project-links {
    width: 720px;
  }
  .case-details {
    width: 460px;
    margin-left: 36px;
    gap: 24px;
  }
  .case-titles {
    gap: 8px;
  }
  .down-arrow {
    width: 36px;
  }
}
@media screen and (max-width: 1280px) {
  .hero-top {
    padding: 0px 36px;
  }
  .cases-title-container {
    padding: 0px 36px;
  }
  .project-links {
    width: 600px;
  }
  .project-images {
    gap: 36px;
  }
  .selected-work-container {
    margin: 0px 0px 200px 0px;
  }
}
@media screen and (max-width: 768px) {
  .home-subtitle-container {
    width: 72%;
  }
  .project-links {
    width: 420px;
  }
  .project-images {
    gap: 24px;
  }
  .case-details {
    width: 360px;
  }
  .down-arrow {
    width: 24px;
  }
}
.work-background-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  animation: 10s infinite pulsingImage;
}

.image-row {
  display: flex;
  gap: 60px;
}

.work-image {
  width: 1000px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  opacity: 0.3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.support-image {
  opacity: 0.05;
  filter: blur(4px);
}

.works-list {
  position: absolute;
  left: 50%;
  translate: -50% 0%;
  z-index: 900;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.work-link {
  opacity: 0.2;
  transition: opacity 1s ease;
  width: 100%;
  display: grid;
  place-content: center;
}

.work-link:hover {
  opacity: 1;
}

@keyframes pulsingImage {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  50% {
    transform: scale(1.08) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(-5deg);
  }
}
@media screen and (max-width: 1280px) {
  .work-image {
    width: 720px;
  }
}
@media screen and (max-width: 1024px) {
  .works-list {
    gap: 60px;
  }
}
.about-design-container {
  padding: 0px 60px;
  margin-bottom: 440px;
}

.about-section-container {
  margin: 160px 0px 200px 0px;
  width: 70%;
}

.about-interests {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-interest {
  width: 100%;
  height: 800px;
  border-radius: 40px;
  display: flex;
  align-items: end;
  padding: 60px;
}

.offset-down {
  margin-top: 280px;
}

@media screen and (max-width: 1280px) {
  .about-section-container {
    width: 100%;
  }
  .about-design-container {
    margin-bottom: 360px;
  }
  .about-interests {
    gap: 36px;
  }
  .about-interest {
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .about-interest {
    height: 400px;
  }
  .about-design-container {
    margin-bottom: 280px;
  }
  .offset-down {
    margin-top: 200px;
  }
}
@media screen and (max-width: 768px) {
  .about-interests {
    gap: 24px;
  }
  .about-interest {
    height: 360px;
    padding: 36px;
  }
  .offset-down {
    margin-top: 100px;
  }
}
.data-top {
  margin: 160px 0px 200px 0px;
  width: 70%;
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.info-card {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 40px;
  padding: 100px 200px 100px 100px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: end;
  overflow: hidden;
}

.capability-card {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 40px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: end;
}

.capability-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.capability-col {
  display: flex;
  gap: 36px;
}

@media screen and (max-width: 1280px) {
  .data-top {
    width: 90%;
  }
  .info-card {
    padding: 60px 120px 60px 60px;
  }
  .capability-card {
    padding: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .info-card {
    padding: 48px;
    gap: 16px;
  }
  .capability-card {
    padding: 48px;
  }
  .data-container {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .data-top {
    width: 100%;
  }
  .info-card {
    padding: 36px;
    gap: 16px;
  }
  .capability-card {
    padding: 36px;
  }
}
.contact-container {
  margin: 0px 0px 60px 0px;
}

.contact-top {
  margin: 160px 0px 200px 0px;
  width: 60%;
}

.contact-infos {
  display: flex;
  gap: 80px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-info > .contact-title-container > .contact-title-move > .body-bold,
.contact-info > .contact-title-container > .contact-title-move > .body-light,
.contact-info > .subtitle-light {
  transition: all 0.5s ease;
}

.contact-info:hover > .contact-title-container > .contact-title-move > .body-bold,
.contact-info:hover > .contact-title-container > .contact-title-move > .body-light,
.contact-info:hover > .subtitle-light {
  color: rgb(246, 250, 255);
}

.contact-title-container {
  max-height: 2rem;
  overflow: hidden;
}

.contact-title-move {
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 0.5s ease;
}

.contact-info:hover > .contact-title-container > .contact-title-move {
  transform: translateY(-2rem);
}

@media screen and (max-width: 1280px) {
  .contact-top {
    width: 80%;
  }
  .contact-title-container {
    max-height: 1.5rem;
  }
  .contact-info:hover > .contact-title-container > .contact-title-move {
    transform: translateY(-1.6rem);
  }
}
@media screen and (max-width: 1024px) {
  .contact-infos {
    gap: 40px;
  }
  .contact-title-container {
    max-height: 1rem;
  }
  .contact-info:hover > .contact-title-container > .contact-title-move {
    transform: translateY(-1rem);
  }
}
@media screen and (max-width: 768px) {
  .contact-top {
    width: 100%;
  }
}
.project-top {
  padding: 0px 60px;
  margin: 160px 0px 100px 0px;
}

.project-descriptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: 60px;
  padding: 32px 0px;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.video-wrapper {
  width: 100%;
  height: 1000px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: all 1s ease;
}

.next-video-wrapper {
  width: 100%;
  height: 800px;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: all 1s ease;
}

.project-video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-description {
  padding: 4px 0px 0px 0px;
}

.image {
  width: 100%;
  border-radius: 40px;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
}

.contained-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.margin-separator {
  margin-bottom: 60px;
}

.next-project-container {
  max-width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  margin-bottom: 280px;
}

.next-project-links {
  position: relative;
  width: 1400px;
  overflow: auto;
  transition: all 1s ease;
  overflow: visible;
  transform: rotate(-5deg);
}

.project-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  opacity: 0.5;
  transform-origin: center;
  transition: all 1s ease;
}

.next-project-details {
  width: 600px;
  margin-left: 100px;
  margin-top: -1080px;
  transform: rotate(5deg);
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 1;
  transition: all 1s ease;
  pointer-events: none;
}

.next-project-links:hover > .project-links > .next-video-wrapper {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  .video-wrapper {
    height: 640px;
    margin-bottom: 36px;
  }
  .next-video-wrapper {
    height: 600px;
  }
  .next-project-details {
    margin-top: -840px;
  }
  .next-project-container {
    margin-bottom: 200px;
  }
  .margin-separator {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 1024px) {
  .video-wrapper {
    height: 520px;
  }
  .next-video-wrapper {
    height: 400px;
  }
  .next-project-details {
    margin-top: -640px;
  }
  .next-project-container {
    margin-bottom: 0px;
    padding: 100px 24px 0px 24px;
  }
  .next-project-details {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .video-wrapper {
    height: 360px;
  }
  .next-video-wrapper {
    height: 280px;
  }
  .next-project-details {
    margin-top: -480px;
  }
  .next-project-container {
    margin-bottom: -100px;
    padding: 100px 24px 0px 24px;
  }
  .next-project-details {
    width: 400px;
  }
}
.cursor-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2000;
}

.cursor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.cursor-bar {
  transition: all 0.5s ease;
}

.cursor-bar-vertical {
  width: 2px;
  height: 6px;
  background-color: #ffffff;
}

.cursor-bar-horizontal-container {
  display: flex;
  gap: 4px;
}

.cursor-bar-horizontal {
  width: 8px;
  height: 2px;
  background-color: #ffffff;
}

.cursor-gradient-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -100;
}

.cursor-gradient-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -99;
  -webkit-backdrop-filter: blur(8vmax);
          backdrop-filter: blur(8vmax);
}

.cursor-gradient {
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 20%;
  height: 30%;
  border-radius: 100%;
  background: linear-gradient(to right, #5AFFE1 30%, #2400FF);
  animation: rotate 20s infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
* {
  box-sizing: border-box;
}

body {
  background: rgb(41, 47, 53);
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: rgb(125, 247, 255);
  color: rgb(41, 47, 53);
}

::selection {
  background: rgb(125, 247, 255);
  color: rgb(41, 47, 53);
}

.page-container {
  padding: 0px 60px;
}

.section-container {
  padding: 0px 60px;
  margin-bottom: 280px;
}

.col {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.col-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.image-slider {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 360px;
}

.slider-track {
  display: flex;
}

.sliding-images {
  display: flex;
  gap: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: scrollRight 25s infinite linear;
}

.slide-image {
  position: relative;
  width: 800px;
  aspect-ratio: 16/12;
  overflow: hidden;
  border-radius: 40px;
}

.info-text-container {
  width: 100%;
  height: 100%;
  padding: 200px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: end;
}

@keyframes scrollRight {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(-50%);
  }
}
.hero {
  font-size: 14rem;
  font-weight: 700;
}

.large-title {
  font-size: 8rem;
  font-weight: 700;
}

.title-bold {
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
}

.title-light {
  font-size: 6rem;
  font-weight: 400;
  line-height: 7rem;
}

.subtitle-bold {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.subtitle-light {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
}

.case-overview {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.body-bold {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.body-light {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.caption-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.caption-light {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 1280px) {
  .hero {
    font-size: 8rem;
  }
  .large-title {
    font-size: 6rem;
  }
  .title-bold {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .title-light {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .case-overview {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .subtitle-bold {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .subtitle-light {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .body-bold {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .body-light {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .col {
    gap: 36px;
  }
  .sliding-images {
    gap: 36px;
  }
  .slide-image {
    width: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .section-container {
    padding: 0px 36px;
    margin-bottom: 200px;
  }
  .image-slider {
    margin-bottom: 200px;
  }
  .hero {
    font-size: 6em;
  }
  .large-title {
    font-size: 4rem;
  }
  .title-bold {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .title-light {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .subtitle-bold {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .subtitle-light {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .body-bold {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .body-light {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .caption-bold {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .caption-light {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .slide-image {
    width: 480px;
  }
  .info-text-container {
    padding: 60px 120px 60px 60px;
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    font-size: 4rem;
  }
  .title-bold {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .title-light {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .case-overview {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subtitle-bold {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subtitle-light {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sliding-images {
    gap: 24px;
  }
  .slide-image {
    width: 320px;
  }
  .col {
    gap: 24px;
    flex-direction: column;
  }
  .info-text-container {
    padding: 36px;
    gap: 16px;
  }
  .col-20 {
    width: 100%;
  }
  .col-30 {
    width: 100%;
  }
  .col-40 {
    width: 100%;
  }
  .col-50 {
    width: 100%;
  }
  .col-60 {
    width: 100%;
  }
}
.text-strong-blue {
  color: rgb(0, 240, 255);
}

.text-primary-blue {
  color: rgb(125, 247, 255);
}

.text-accent-blue {
  color: rgb(174, 250, 255);
}

.text-dark-gray {
  color: rgb(41, 47, 53);
}

.text-light-gray {
  color: rgb(124, 141, 159);
}

.text-light {
  color: rgb(246, 250, 255);
}

.strong-blue {
  background-color: rgb(0, 240, 255);
}

.primary-blue {
  background-color: rgb(125, 247, 255);
}

.accent-blue {
  background-color: rgb(174, 250, 255);
}

.dark-gray {
  background-color: rgb(41, 47, 53);
}

.gray {
  background-color: rgb(61, 71, 80);
}

.light-gray {
  background-color: rgb(124, 141, 159);
}

.light {
  background-color: rgb(246, 250, 255);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=styles.css.map */